#forms{
    position: relative;
    background-color: white;
    display: flex;
    width: 100%;
    height: 500px;
    flex-direction: row;
    align-items: end;
    border-top: 20px solid darksalmon;
    border-right: 20px solid darksalmon;
    border-bottom: 20px solid darksalmon;
    box-sizing: border-box;
    
}

label{
    font-family: tahoma;
    margin-left: 30px;
}

input{
    margin-left: 30px;
    height: 40px;
    border-radius: 5px;
}

textarea{
    margin-left: 30px;
    width: 300px;
    height: 150px;
    border-radius: 5px;
}

#formula{
    width: 500px;
    height: 460px;
}

#envia{
    width: 450px;
    height: 50px;
}

#imagens_f{
    background-color: white;
    width: 765px;
    height: 460px;

}

#acesso{
    color: blue;
    font-family: verdana;
    font-size: 17px;
    font-weight: bold;
    margin-left: 300px;
    margin-top: 150px;

}

.icon1{
    width: 80px;
    height: 80px;
    margin-left: 350px;
}

.icon2{
    width: 80px;
    height: 80px;

}
.icon3{
    width: 80px;
    height: 80px;

}